.popup {
    // 黑色背景
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    // 蓋掉navigation
    opacity: 0;
    visibility: hidden;
    // 將popup藏起來，在未點擊book now時
    transition: all .4s ease-in;
 
    // 若瀏覽器有支援supports上的屬性->就套用下面的樣式
    @supports ( -webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    
    // -moz-backdrop-filter: blur(10px);  //沒有用喔 firefox就是不支援齁

    &__toggle {
        &:link,
        &:visited {
            display: block;
            height: 100vh;
            width: 100%;
            background-color: transparent;
        }

        &:active {
            
        }
    }


    &__close {
        &:link,
        &:visited {
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .3s;
            // 調整lh
            line-height: 1;
        }

        &:hover,
        &:active {
            color: $color-primary;
        }
    }

    &__content {
        @include posa-center;
        min-width: 300px;
        padding: 3rem 0;
        box-shadow: 0 2rem 4rem rgba($color-black, $alpha: .2);
        border-radius: 3px;
        border-bottom: 7px solid $color-primary-dark;
        overflow: hidden;
        // display: table;
        visibility: hidden;
        opacity: 0;
        transform:translate(-50%,-50%) scale(.25);
        // 因為transform的在設定會將posa-center的transform改寫，因此需要再設定一次
        // 動畫
        transition: all .4s .2s ease-out;

        // 因為裡面都屬於inline屬性所以可以用它對齊
        text-align: center;
        background-image: linear-gradient(to right,
    rgba($color-bg-pink, .8), rgba($color-bg-purple, .9));
        

      

    }




    // 在popup被連結到時
    &:target {
        opacity: 1;
        visibility: visible;
    }

    // 在target後的__content效果
    &:target &__content {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

