.bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    // 為了讓他可以當背景而不擋到其他story中的東西
    overflow: hidden;

    opacity: 0.15;

    &--content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // 長寬自適應父容器，不維持
    }
}