.card {
    // 功能設定
   perspective: 150rem;
   -webkit-perspective: 150rem;
    position: relative;
    // height: 52rem;


    &__side {
        transition: all .8s ease-out;
        height: 52rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;  //safari9以下需要前綴
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-text-gray, .4);
        border-radius: 4px;
        overflow: hidden;

        
        &--front {
            background-color: #fff;
        }

        &--back {
            height: 50rem;
            transform: rotateY(180deg);
        
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

        }
    
    }


    &:hover  &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover  &__side--back {
        transform: rotateY(0deg);
    }

    // front 樣式設定

    &__picture {
        background-size: cover;
        background-position: center center;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        position: relative;
        
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark) ,url(../img/nat-5.jpg);
        }

        
    }

    &__heading {
        color: $color-text-white;
        font-weight: 300;
        font-size: 2.8rem;
        text-align: right;
        text-transform: uppercase;
        position: absolute;
        right: 5%;
        top: 12rem;
        width: 75%;
        

        &--span{
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            &-1{
                background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .85) , 
                rgba($color-secondary-dark, .85));
            }

           
        }
        
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-gray-light-2;
                    // 讓最後一個li沒有bb
                }

            }
        }
    }

    // back 設定
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
       
    }

    &__price--box {
        color: $color-text-white;
        margin-bottom: 8rem;
    }

    &--only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &--value {
        font-size: 6rem;
        font-weight: 100;

    }// .card:hover .card__side{}


        // 我們將media query設定為小於平板直式大小或者用戶無法使用hover時
    @media only screen and (max-width: 56.25em),
                only screen and (hover: none) {
        height: auto;
        border-radius: 4px;
        background-color: $color-text-white;
        box-shadow: 0 1.5rem 4rem rgba($color-text-gray, .4);
    
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
            
    
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                // 切出斜邊
            
                &-1 {
                    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
                }
    
                
            }
        
        }
    
    
        &:hover  &__side--front {
            transform: rotateY(0);
        }
    
        
    
        // front 樣式設定
        // 設定都不用改
       
        // back 設定
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
            
        }
    
        &__price--box {
            margin-bottom: 3rem;
        }
    
    
        &--value {
            font-size: 5rem;
    
    
        }// .card:hover .card__side{}
    
    }
       


}
