.form {
    

    &__login{
        width: 100%;
        transform: translateX(50%);
        transition: all .5s;
        
    }

    &__register {
        width: 100%;
        transform: translateX(100%);
        transition: all .5s;
    }

    &__group {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 2rem;
            // 一樣是讓最後一個input不要有mb的設計
        }
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba(#a49d9a, $alpha: .4);
        border: none;
        border-bottom: 3px solid transparent;  //在這裡也加上focus的樣式是因為border會增加寬度，讓input被focus時會移動，所以在這裡先將寬度給他，在focus時只是變換顏色
        transition: all .2s;
        display: block;
        width: 100%;
        // 讓input和label分成上下兩行，設定w是為了讓input寬度100%
        border-radius: 10px;
        resize: none;

        

        &:focus {
            outline: none; //去除focus的外框
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .1);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-primary-dark;
        }

        &::-webkit-input-placeholder {
            // color: $color-primary-darker;
           
        }

        

        
    }

    // label的樣式
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        // margin-left: 2rem;
        margin-bottom: 0.7rem;
        display: block;
        transition: all .3s;
        transform: translateY(-9rem);
        // 讓他出現在input上方

        color: $color-primary-dark;

        @include respond(phone-tab) {
            transform: translateY(-10rem);
        }
    }

    // 當placeholder在的時候，label的狀況
    // 同層選取器只能選到他的後方，所以即使同層也不能使在前面的同層被他選到

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
        // 此時藏在input中間
    }


    &__radio-group{
        width: 30%;  //原本是要設定為各50%，但是不知為何會變成跳到下一行，所以使用49%
        display: inline-block;
        position: relative;
        // text-align: center;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
        }

        
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        padding-left: 3rem;
    }

    // 設定radio那個圓框框樣式
    &__radio-button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: inline-block;
       border: 5px solid $color-primary;
       //調整圓框位置
       position: absolute;
       top: -.1rem;
       left: -1rem;

        // 設定點選後會出現的圓點點
       &::after {
        content: '';
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background-color: $color-primary;

        // 設定會在radio-button的正中間
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        // 在未被點擊時透明
        opacity: 0;
        transition: all .2s;
       }
    }

    // 在radio__input被點擊後，觸發與他同層的radio__label的radio-button中的::after
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}

.img-box {
    display: inline-block;
    margin-top: 7rem;
    background-color: #DAD8D9;
    padding: 2rem;
    border-radius: 50%;
  

    img {
        vertical-align: middle;
    }
}

.main-form {

    display: flex;
    // align-items: center;
    margin-top: 3rem;

}

.form__group--radio {
    margin-left: 3rem;
}