// color

// primary blue
$color-primary: #a9c4d4;
$color-primary-light: #96c0d9;
$color-primary-dark: #3d526e;
// $color-primary-darker: #5e7368;

// second green
$color-secondary-lighter: #799A9E;
$color-secondary-light: #3d6e55;
$color-secondary-dark: #5e7368;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-text-gray: rgb(63, 56, 56);
$color-text-white: rgb(255, 255, 255);
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #484a4d;

$color-bg-pink: #EFEAEB;
$color-bg-blue: #D6DDE6;
$color-bg-purple: #D3DCE6;

// font
$default-font-size: 1.6rem;
$p-font-size: 2rem;

// grid
$grid-width: 150rem;
$gutter-ver: 8rem; //row 的垂直距離
$gutter-ver-small: 6rem; //row 的垂直距離
$gutter-hori: 6rem;  //col的水平距離