*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    
}
/* 在html上設定一個root font-size，給予rem單位依據 */
html{
    /* font-size: 10px; */
    /* 設定10px是因為叫好計算 */
    /* 現在我們要使用%方式設定root font-size，可以更彈性 */
    font-size: 62.5%;  //10/16
    // 做全局定義，影響整個頁面的設定，所以不放在typegraphy中

    @include respond(big-desktop) {
        font-size: 62.5%;   //1rem = 10px  10/16 = 62.5%
    }

    @include respond(tab-normal-desktop) {
        font-size: 62.5%; //1rem = 10px  10/16 = 62.5%
    }

    @include respond(tab-land) {
        font-size: 56.25%;  //1rem = 9px  9/16 = 56.25%
    }
    
    @include respond(tab-port) {
        font-size: 50%;      //1rem = 8px 8/16 = 50%
    }

    
    @include respond(phone) {
        font-size: 43.75%;  // 1rem = 7px 7/16 = 43.75%
    }
    
}    

/* 設定字體的預設，要在body中，為了font屬性的繼承性質 */
body{
    max-width: 1800px;
    box-sizing: border-box;
    /* 設定在這裡讓*強制繼承 */
   background-color: #F7F5F5;
   margin: 0 auto;
   

}

// 改變反白時的背景顏色.字體顏色
::selection {
    background-color: $color-black;
    color: $color-text-white;
}

a,label {
    -webkit-tap-highlight-color:transparent;
}