
body{
    font-family: 'Shippori Mincho', "Lato", 'sans-serif';
    /* font-size: 16px; */
    line-height: 1.7;
    /* lh 1.7的意思是指比原先預設的行高的1.7倍 */
    color: $color-text-gray;
    font-weight: 400;
    
}

/* 設定標題樣式 */
/* 設定兩行字相同的東西 */
.heading-primary{
    color: $color-black;
    text-transform: uppercase;  /*將字轉為大寫，不直接寫在h1中是因SEO的問題*/
    // -webkit-writing-mode: vertical-rl;
    // writing-mode: vertical-rl;

    
    /* 調整上面大的標題字大小 */
   &--main{
        /* 設定db是因為要讓兩行字換行(原本span為inline屬性) */
        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: 2rem;
        /* animation-name: moveInLeft;
        animation-duration: 2s; 
        animation-timing-function: ease-in; */
        animation: moveInLeft 2s ease-in;


        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 6rem;
        }
    
    
    }
   &--sub{
        /* 設定db是因為要讓兩行字換行(原本span為inline屬性) */
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 3s ease-out;
        margin: 30px 0 60px 0;

        @include respond(phone) {
            letter-spacing: .5rem;
            margin: 15px 0 60px 0;
            
        }

    }
    
}

// 設定section-about的副標題樣式
.heading-secondary{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    
    background-image: linear-gradient(120deg, transparent 50%,$color-black 50%);
    // 為了讓漸層可以只到字結束為止，所以需要用display: inline-block來處理
    display: inline-block;
    background-size: 240%;
    transition: all 1s ease-out;
    // 要讓漸層只有文字的地方可見，需要使用一個很新的css屬性，因為很新所以要加上前贅字否則很多瀏覽器不能使用這效果
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // 要讓文字透明，背景的漸層才看的到
    letter-spacing: .2rem;

    &--sub{
        /* 設定db是因為要讓兩行字換行(原本span為inline屬性) */
        display: block;
        // text-align: center;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        // margin: 2rem 0;
    }

    

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    

}

.header-layer {
    transform: translateZ(10px) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-text-gray, .2);
    // text-shadow可以讓字有陰影，和box-shadow的用法相同
    background-position: -75%;
}

.heading-tertiary{
    font-size: $p-font-size;
    font-weight: 700;
    text-transform: uppercase;

    &--sub {
        color: $color-black;
        font-size: 2.5rem;
    }

    &--green {
        color: $color-secondary-lighter;
    }

}

.paragraph {
    font-size: $p-font-size;
    letter-spacing: .2rem;
    
    padding: 1rem;


    &:not(:last-child){
        margin-bottom: 3rem;
    }

    &--narrow {
        padding: 0 7rem;
        

        @include respond(tab-port) {
            text-align: center;
            padding: 0 5rem;
        }
    }

}

.text-content {

    h3 {
        margin-bottom: 1rem;

        &:not(:first-child) {
            margin-top: 2rem;

            // @include respond(tab-port) {
            //     padding-top: 2rem;
            //     border-top: 1px solid #eee;
            // }
        }
   
    }
    p {
        
        &:not(:last-child) {
            margin-bottom: 1rem;

            @include respond(tab-port) {
                margin-bottom: 2rem;
            }
        }
    }
}

.text-option {
    list-style: none;
    margin: 1rem 0;
    
}