@mixin clearfix(){

    &::after{
        content: '';
        clear: both;
        display: table;
    }
}

@mixin posa-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin box-shadow-3d {
    box-shadow: 3px 3px 5px #b0b7c0, -3px -3px 5px rgba($color-text-white, .7);
}

@mixin flex-col-column {
    display: flex;
    // text-align: center;
    flex-direction: column;
    
}

// media query manager
// @mixin respond-phone {
//     @media (max-width: 600px) {
//         @content
        
//     }
// }

@mixin respond($breakpoint) {
    @if $breakpoint == mini-phone {
        @media only screen and (max-width: 17.5em) {@content}; //280px 280/16
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content}; //600px 600/16
    }
    @if $breakpoint == phone-tab {
        @media only screen and (max-width: 43.75em) {@content}; //700px 700/16
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content}; //900px 900/16
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content}; //1200px 1200/16
    }
    @if $breakpoint == normal-desktop {
        @media only screen and (max-width: 93.75em) {@content}; //1500px 1500/16
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 112.5em) {@content};  //1800px 1800/16
    }
        
}
