.flex-box {
    display: flex;
    justify-content: center;
    align-items: stretch;

    
    &--center {
        max-width: 1500px;
        align-items: center;
        
        
    }


    @include respond(tab-port) {
       
        flex-direction: column;
        
    }

  

}

.book-details {
    display: flex;
    width: 90%;
    justify-content: space-between;
    // position: relative;
    // border-radius: 5px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // border-radius: 5px;
    
    

    @include respond(normal-desktop) {
        width: 100%;
    }

    @include respond(phone-tab) {
        flex-direction: column;
    }
     

}

.detail-box {
    
    font-size: 1.6rem;
    font-weight: 600;
    color: #34312C;

    .detail-toggle {
        position: relative;
        font-size: 2rem;
        border-bottom: 2px solid #eee;
        cursor: pointer;
        

        &-down {
           position: absolute;
           bottom: -1rem;
            right: 2rem;
           font-size: 3rem;
        }
    }

    .detail-buy {
        margin-bottom: 3rem;

        &--price {
            font-size: 3rem;
            // color: #FF4D59
        }
    }

    .detail-content {
        margin-top: 3rem;
        // border-bottom: 1px solid rgba($color: #34312C, $alpha: .5);    
        display: none;
    }

   

}



.col-30 {
    width: 36.5%;
    padding: 3rem;

    @include respond(tab-port){
        padding: 5rem;
    }

    @include respond(phone){
        padding: 5rem 3rem;
    }
    

}

.col-50 {
   width: 50%;
    padding: 10rem 5rem;
    justify-content: center;
    @include flex-col-column;


    // section__book的排版
    &--top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20rem;
        

    }

    &--text {
        border-radius: 120px;
        padding: 0 5rem;
        
        
        


        &-blue {
            position: relative;
            background-color: $color-primary-dark;
           
            color: #fff;

            @include respond(tab-port) {
               order: -1;
                
            }

            @include respond(phone) {
                border-radius: 80px 0 120px 80px;
            }
        }

        &-sliver {
            order: -1;
            position: relative;
            background-color: rgb(223, 213, 213);
            // border-radius: 120px;
            color: $color-black;

            @include respond(phone) {
                border-radius: 0 80px 80px 120px;
            }
        }

        &-brown {
            position: relative;
            background-color:  #665F5E;
            color: #fff;

            @include respond(tab-port) {
                order: -1;
                 
             }

             @include respond(phone) {
                border-radius: 80px 0 120px 80px;
            }
        }

        &-red {
            order: -1;
            position: relative;
            background-color: #C1391D;
            color: #fff;


            @include respond(phone) {
                border-radius: 0 80px 80px 120px;
            }
        }
    }

    // section__detail的排版
    &--left {
    width: 40%;
    margin-left: 10rem;
    padding-bottom: 10rem;
    
        
        h2 {
            z-index: 2;
            margin-right: -50%;

            @include respond(normal-desktop) {
                margin-right: -30%;
            }

            @include respond(tab-port) {
                margin-right: 0;
            }
        }

        @include respond(normal-desktop) {
            margin-left: 5rem;
        }
    }

    &--right {
        // position: relative;
        width: 60%;
        justify-content: center;
        align-items: center;
        border-radius: 120px;
        background-color: #CFDFDE;
       

        @include respond(normal-desktop) {
            border-radius: 90px;
        }

        @include respond(phone-tab) {
            order: -1;
            
        }

        

        img {
            width: 30%;
            min-width: 25rem;
            object-fit: cover;
           
            box-shadow: 3px 3px 10px #b9b4b4, 4px 5px 2px #b9b4b4;
            transform: rotateZ(5deg);
        }
    }



    @include respond(tab-port) {
        margin: 0 auto;
        max-width: 620px;
        width: 100%;
    }

    @include respond(phone) {
        
    }
}

.col-70 {
    order: -1;
    width: 63.5%;
    

    .carousel {
        // width: 90%;
        text-align: center;
    }
    
    img {
        width: 100%;
        padding-top: 35%;
        object-fit: cover;
        background-image: linear-gradient(to bottom, transparent 15%, #fff 55%);
        border-radius: 46px;

        
        
    }

}

[class^="col-"]{
    width: 100%;
    max-width: 75rem;
    min-width: 280px;

    @include respond(tab-port){
        margin: 0 auto;
        // width: 95%;
    }
}

.text-content {
    padding: 0 5rem;
    line-height: 2.4;

    @include respond(tab-port){
        line-height: 2.2;
        padding: 3rem 2rem ;
    }
}

.flex-img {
    display: flex;
    margin: 2rem 0;
    width: 40rem;


    // 輪播設定放在這裡才不會權重不夠
    .flexslider {
        border: none;
        border-radius: 0 30px 30px 30px;
        box-shadow: -3rem 3rem 0 $color-primary-dark;
        overflow: hidden;


        

        .slides {


            img{
                height: 30rem;
                object-fit: cover;
                
            }
        }
    
    }
}

.question-svg {
    position: absolute;
    width: 192px;  
    z-index: -1;
    

    &--blue {
        bottom: -100px;
        right: 0;
        
        @include respond(tab-port) {
            
            
            
            
        }

        @include respond(phone) {
            
            
        }
    }

    &--sliver {
        transform: rotateY(180deg);
        bottom: -103px;
        left: 0;
    }

    &--brown {
        // transform: rotateY(180deg);
        z-index: -1;
        bottom: -103px;
        right: 0;
    }

    &--red {
        transform: rotateY(180deg);
        bottom: -103px;
        left: 0;
    }

    // &--green {
    //     transform: rotateZ(94deg);
    //     z-index: 1;
    //     bottom: -10px;
    //     left: -73px;
    // }
}


