.section__book {
    
    // 設定字體顏色改變
    &-1 {

        .heading-secondary {
            background-image: linear-gradient(120deg, transparent 50%,$color-primary-dark 50%);
        }
        h3,strong {
            color: $color-text-white;
        }
        // transition: opacity .5s;
        // opacity: 1;
    }

    &-2 {
      
        .heading-secondary {
            background-image: linear-gradient(120deg, transparent 50%,$color-black 50%);
        }

        h3,strong {
            color: $color-black;
        }

       
        .flex-img {

            .flexslider {
                // border-color: $color-secondary-dark;
                box-shadow: 3rem -2rem 0 rgba(223, 213, 213, .8);
            }
        }
            
   
    }

    &-3 {
      
        .heading-secondary {
            background-image: linear-gradient(120deg, transparent 50%,#665F5E 50%);
        }

        h3,strong {
            color: $color-text-white;
        }

       
        .flex-img {

            .flexslider {
                box-shadow: -3rem 2rem 0 rgba(#4A3D3D, .8);
            }
        }
            
   
    }

    &-4 {
      
        .heading-secondary {
            background-image: linear-gradient(120deg, transparent 50%,#C1391D 50%);
        }

        h3,strong {
            color: $color-text-white;
        }

       
        .flex-img {

            .flexslider {
                // border-color: $color-secondary-dark;
                box-shadow: 3rem -2rem 0 rgba(#C1391D, .8);
            }
        }
            
   
    }

   &:not(:last-child) {
    padding-bottom: 20rem;

    @include respond(phone-tab) {
        padding-bottom: 15rem;
    }
   } 
}
