.footer {
    background-image:  linear-gradient( 
        to right,
       $color-bg-pink ,$color-bg-purple);
    padding: 10rem;
    color: $color-gray-light-1;

    
    @include respond(phone) {
        padding: 5rem;
    }

    &__logo-box {
        // text-align: center;
        // 若將logo-box設定寬度，就無法用tac將圖片置中，因為此時logo-box的寬度會等於圖片的寬度，就沒有多的空間可以設定置中
        margin-bottom: 5rem;
       
        @include respond(tab-port) {
            margin-bottom: 6rem;
            text-align: center;
        }
    }

    &__logo {
        width: 5rem;
        object-fit: cover;
        font-size: 2.4rem;
        color: $color-black;
        line-height: 1;
        vertical-align: middle;
      
    
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column;
            justify-content: center;
        }
        
    }

    &__navigation {
        // border-top: 1px solid $color-text-gray;
        display: inline-block;
        // 讓bt只到item所佔據的長度就結束，而非占據一整行

        margin-bottom: 2rem;

        
    }

    // ul
    &__list {   
        list-style: none;
        text-transform: uppercase;
        display: inline-block;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    // li 
    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
    // 設定連結樣式
    &__link {
        

        &:link,
        &:visited {
            // 備景色可設可不設
            color: $color-black;
            text-decoration: none;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 600;
            transition: all .2s;
            
        }

        &:hover,
        &:active {
            color: $color-primary;

        
            
        }

        &--social {
            width: 5rem;
            height: 5rem;
            border-radius: 42px;
            background-color: rgba($color-text-white, .3);
            @include box-shadow-3d;
            
            
            // 置中用
            text-align: center;
            vertical-align: middle;
            line-height: 2.8;
        }

        &__icon {
            font-size: 2rem;
        }
    }

    &__copyright {
        color: #9B9B9B;
        margin-top: 6rem;
        text-align: right;


        @include respond(tab-port) {
            width: 100%;
            padding: 0 4rem;
            text-align: center;
           
        }
    }
}