.u-center-text {
    text-align: center !important;
    // 因為.heading-secondary是inline-block，所以他會隨父元素的設定而動
}

.u-left-text {
    margin-left: 10%;
    width: 70%;
    
    

    @include respond(tab-port) {
        
        padding: 0 5rem;
        margin: 0 auto;  //讓他置中
        text-align: center;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big {
    margin-bottom: 10rem !important;    

    @include respond(tab-port) {
        margin-bottom: 12rem !important;
    }
}

.u-margin-top-small {
    margin-top: 1.5rem !important;
}
.u-margin-top-big {
    margin-top: 10rem !important;
}
